# assign as 
# <key>=<value>
# <space> will be ignored in specfying key-value pair
# <space><key><space>=<space><value><space>


# group
default_group=default

default_tag=default

#db_loc=

  editor=vim
gui_editor=gedit
# uncomment for specifying anything except space
#list_delim="  "
# create format for list using
# <SNO>     serial number, auto increment for row number
# <NID>     unique note id
# <TITLE>   note title
# <GROUP>   note group
# <TAGS>    note tags
# <DELIM>   delimiter, specify delimiter in `list_delim' except for space
#
#list_format=<SNO><DELIM><NID><DELIM><GROUP><DELIM><TAGS><DELIM><TITLE>
list_format=<SNO><DELIM><NID><DELIM><TITLE>
